{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anyi's College</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'anyi/css/hide.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'anyi/main/css/main.css' %}">
    <link rel="stylesheet" class="alternate-style" title="pink" href="{% static 'anyi/main/css/skins/pink.css' %}"
        type="text/css" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/regular.min.css">


    <link rel="stylesheet" class="alternate-style" title="blue" href="{% static 'anyi/main/css/skins/blue.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="orange" href="{% static 'anyi/main/css/skins/orange.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="yellow" href="{% static 'anyi/main/css/skins/yellow.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="green" href="{% static 'anyi/main/css/skins/green.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" href="{% static 'anyi/main/css/styleSwitcher.css' %}" type="text/css">
</head>

<body>

    <!-- Loader -->
    <div class="preloaded">
        <div class="loader"></div>
    </div>

    <!-- Main Container -->
    <div class="main-container">
        <!-- Sidebar Navigation -->
        <aside class="aside">
            <div class="logo">
                <a href="{% url 'home' %}">{{ teacher.fname }} {{ teacher.sname }}</a>
            </div>
            <div class="nav-toggle"><span></span></div>
            <ul class="nav">
                <li><a href="#profile" onclick="showSection('profile')" class="active"><i
                            class="fa fa-user"></i>Profile</a></li>
                <li><a href="#atten" onclick="showSection('atten')"><i class="fa fa-calendar"></i>Attendance</a></li>
                <li class="dropdown"><a href="#test" onclick="showSection('test')"><i class="fa fa-book"></i>Test</a>
                </li>
                <!-- <div class="dropdown-content">
                        <a href="#ca1">CA1</a>
                        <a href="#ca2">CA2</a>
                        <a href="#ca3">CA3</a>
                    </div> -->
                </li>
                <li><a href="#exam" onclick="showSection('exam')"><i class="fa fa-paper"></i>Examination</a></li>
                <li><a href="#assign" onclick="showSection('assign')"><i class="fa fa-tasks"></i>Assignment</a></li>
                <li><a href="#news" onclick="showSection('news')"><i class="fa-regular fa-newspaper"></i>News</a></li>
                <li><a href="#message" onclick="showSection('message')"><i class="fa fa-envelope"></i>Messages</a></li>
                <li><a href="#notify" onclick="showSection('notify')"><i class="fa fa-bell"></i>Notifications</a></li>
                <li><a href="#report" onclick="showSection('report')"><i class="fa fa-file-alt"></i>Reports</a></li>
                <li><a href="#result" onclick="showSection('result')"><i class="fa fa-chart-line"></i>Results</a></li>
                <li><a href="{% url 'home' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
            <div class="copyright-text" style="color: #0dcaf0;">
                &copy; @Jascube Technologies
            </div>
        </aside>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Profile Section -->
            <section class="section active profile" id="profile">
                <div class="container">
                    <div class="intro">
                        <img src="{{ image_url }}" alt="Profile Picture" class="shadow-dark" width="120px"
                            height="120px" style="border-radius: 60px;">
                        <h1>{{ teacher.fname }} {{ teacher.sname }}</h1>
                        <div class="social-links">
                            <a href="https://twitter.com/kalexdonia93" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/john.adeyemi2/" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/adeyemi-john-56b47993/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a><br>
                            <button class="edit">Update</button>
                        </div>
                    </div> 
                </div>
            </section>

            <!-- Additional Sections (Example Structure) -->
            <section class="section" id="atten">
                <div class="container atten">
                    <div id="term1-section" class="term-section active">
                        <h2>{{ teacher.class_teacher }} 1st Term Attendance</h2>
                        <form id="term1-form">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Student Name</th>
                                        {% for week in weeks %}
                                        <th>Wk {{ week }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.fname }} {{ student.lname }}</td>
                                        {% for week in weeks %}
                                        <td>
                                            <div class="checkbox-group">
                                                {% for i in check %}
                                                <input type="checkbox"
                                                    name="term1_{{ student.id }}_week{{ week }}_{{ i }}"
                                                    id="term1_{{ student.id }}_week{{ week }}_{{ i }}">
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="termbtn" onclick="submitAttendance('term1')">Submit 1st
                                Term</button>
                        </form>
                    </div>

                    <!-- Second Term Section -->
                    <div id="term2-section" class="term-section">
                        <h2>{{ teacher.class_teacher }} 2nd Term Attendance</h2>
                        <form id="term2-form">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Student Name</th>
                                        {% for week in weeks %}
                                        <th>Wk {{ week }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.fname }} {{ student.lname }}</td>
                                        {% for week in weeks %}
                                        <td>
                                            <div class="checkbox-group">
                                                {% for i in check %}
                                                <input type="checkbox"
                                                    name="term2_{{ student.id }}_week{{ week }}_{{ i }}"
                                                    id="term2_{{ student.id }}_week{{ week }}_{{ i }}">
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="termbtn" onclick="submitAttendance('term2')">Submit 2nd
                                Term</button>
                        </form>
                    </div>

                    <!-- Third Term Section -->
                    <div id="term3-section" class="term-section">
                        <h2>{{ teacher.class_teacher }} 3rd Term Attendance</h2>
                        <form id="term3-form">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Student Name</th>
                                        {% for week in weeks %}
                                        <th>Wk {{ week }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.fname }} {{ student.lname }}</td>
                                        {% for week in weeks %}
                                        <td>
                                            <div class="checkbox-group">
                                                {% for i in check %}
                                                <input type="checkbox"
                                                    name="term3_{{ student.id }}_week{{ week }}_{{ i }}"
                                                    id="term3_{{ student.id }}_week{{ week }}_{{ i }}">
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="termbtn" onclick="submitAttendance('term3')">Submit 3rd
                                Term</button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="section" id="test">
                <div class="container test">
                    <h2>{{ teacher.subject_teacher }} Test</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <div class="card" id="jss1-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students.count }} Students</p>
                            <button onclick="showTable('{{ jss1 }}')">View</button>
                        </div>
                        <div class="card" id="jss2-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students.count }} Students</p>
                            <button onclick="showTable('{{ jss2 }}')">View</button>
                        </div>
                        <div class="card" id="jss3-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students.count }} Students</p>
                            <button onclick="showTable('{{ jss3 }}')">View</button>
                        </div>
                        {% else %}
                        <div class="card" id="ss1-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students.count }} Students </p>
                            <button onclick="showTable('{{ ss1 }}')">View</button>
                        </div>
                        <div class="card" id="ss2-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students.count }} Students</p>
                            <button onclick="showTable('{{ ss2 }}')">View</button>
                        </div>
                        <div class="card" id="ss3-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students.count }} Students</p>
                            <button onclick="showTable('{{ ss3 }}')">View</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="term-navigation">
                        <button id="prevTerm" onclick="toggleTerm(-1)" style="display: none;">Previous Term</button>
                        <button id="nextTerm" onclick="toggleTerm(1)" style="display: none;">Next Term</button>
                    </div>


                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ jss1 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ jss2 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ jss3 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ ss1 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ ss2 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div id="tables-container">
                        {% for students in class_students %}
                        <table id="table-{{ ss3 }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in subject_students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRow(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>

                    <!-- Submit Button -->
                    <div id="submit-container" style="display: none;">
                        <button onclick="submitScores()"  class="termbtn">Submit Scores</button>
                    </div>

                </div>
            </section>
            <section class="section" id="exam">
                <div class="container exam">
                    <h2>{{ teacher.subject_teacher }} Exam</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <div class="card" id="jss1-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students.count }} Students</p>
                            <button onclick="toggleInput('jss1')">View</button>
                        </div>
                        <div class="card" id="jss2-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students.count }} Students</p>
                            <button onclick="toggleInput('jss2')">View</button>
                        </div>
                        <div class="card" id="jss3-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students.count }} Students</p>
                            <button onclick="toggleInput('jss3')">View</button>
                        </div>
                        {% else %}
                        <div class="card" id="ss1-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students.count }} Students </p>
                            <button onclick="toggleInput('ss1')">View</button>
                        </div>
                        <div class="card" id="ss2-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students.count }} Students</p>
                            <button onclick="toggleInput('ss2')">View</button>
                        </div>
                        <div class="card" id="ss3-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students.count }} Students</p>
                            <button onclick="toggleInput('ss3')">View</button>
                        </div>
                        {% endif %}
                    </div>


                </div>
            </section>
            <section class="section" id="assign">
                <div class="container assign">
                    <h2>{{ teacher.subject_teacher }} Assignment</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <div class="card" id="jss1-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students.count }} Students</p>
                            <button onclick="toggleInput('jss1')">View</button>
                        </div>
                        <div class="card" id="jss2-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students.count }} Students</p>
                            <button onclick="toggleInput('jss2')">View</button>
                        </div>
                        <div class="card" id="jss3-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students.count }} Students</p>
                            <button onclick="toggleInput('jss3')">View</button>
                        </div>
                        {% else %}
                        <div class="card" id="ss1-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students.count }} Students </p>
                            <button onclick="toggleInput('ss1')">View</button>
                        </div>
                        <div class="card" id="ss2-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students.count }} Students</p>
                            <button onclick="toggleInput('ss2')">View</button>
                        </div>
                        <div class="card" id="ss3-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students.count }} Students</p>
                            <button onclick="toggleInput('ss3')">View</button>
                        </div>
                        {% endif %}
                    </div>

                    <!-- SS1 Students -->
                    <div id="jss1-input" class="student-list" style="display:none;">
                        <h3>JSS1 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss1_students %}
                            {% empty %}
                            <li>No students found for JSS1.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- jSS2 Students -->
                    <div id="jss2-input" class="student-list" style="display:none;">
                        <h3>JSS2 Students
                            <div class="line"></div>
                        </h3>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS2">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss2_students %}
                            {% empty %}
                            <li>No students found for JSS2.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- jSS3 Students -->
                    <div id="jss3-input" class="student-list" style="display:none;">
                        <h3>JSS3 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS3">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss3_students %}
                            {% empty %}
                            <li>No students found for JSS3.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="ss1-input" style="display:none;">
                        <h3>SS1 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS1.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="ss2-input" style="display:none;">
                        <h3>SS2 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS2.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="ss3-input" style="display:none;">
                        <h3>SS3 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS3.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section" id="news">
                <div class="container">
                    <h2>News Section</h2>
                    <p>News details go here.</p>
                </div>
            </section>
            <section class="section" id="message">
                <div class="container">
                    <h2>Messages Section</h2>
                    <p>Messages details go here.</p>
                </div>
            </section>
            <section class="section" id="notify">
                <div class="container">
                    <h2>Notification Section</h2>
                    <p>Notification details go here.</p>
                </div>
            </section>
            <section class="section" id="report">
                <div class="container">
                    <h2>Reports Section</h2>
                    <p>Reports details go here.</p>
                </div>
            </section>
            <section class="section" id="result">
                <div class="container">
                    <h2>Results Section</h2>
                    <p>Results details go here.</p>
                </div>
            </section>



            <!-- Add more sections as needed -->

            <!-- Style Switcher -->
            <div class="style-switcher">
                <div class="toggle-style-switcher"><i class="fa fa-cog fa-spin"></i></div>
                <h5>Style Switcher</h5>
                <ul>
                    <li><a href="Javascript:void(0);" title="pink" style="background-color: #ec1839"
                            onclick="setActiveStyle('pink')"></a></li>
                    <li><a href="Javascript:void(0);" title="blue" style="background-color: #0dcaf0"
                            onclick="setActiveStyle('blue')"></a></li>
                    <li><a href="Javascript:void(0);" title="orange" style="background-color: #fa5b0f"
                            onclick="setActiveStyle('orange')"></a></li>
                    <li><a href="Javascript:void(0);" title="yellow" style="background-color: #ffb400"
                            onclick="setActiveStyle('yellow')"></a></li>
                    <li><a href="Javascript:void(0);" title="green" style="background-color: #72b626"
                            onclick="setActiveStyle('green')"></a></li>
                </ul>
                <h5>Body Skin</h5>
                <label>
                    <input type="radio" class="body-skin" name="body-style" value="light" checked="true"> Light
                </label>
                <label>
                    <input type="radio" class="body-skin" name="body-style" value="dark"> Dark
                </label>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'anyi/main/js/main.js' %}"></script>
    <script src="{% static 'anyi/main/js/styleSwitcher.js' %}"></script>

    <script>
        function showSection(sectionId) {
            // Hide all sections
            document.querySelectorAll('.section').forEach(section => {
                section.classList.remove('active');
            });

            // Remove active class from all navbar links
            document.querySelectorAll('.nav a').forEach(link => {
                link.classList.remove('active');
            });

            // Show the clicked section and add active class to the navbar link
            document.getElementById(sectionId).classList.add('active');
            document.querySelector(`.nav a[href="#${sectionId}"]`).classList.add('active');
        }



        // Function to submit attendance and display the next term
        function submitAttendance(term) {
            const formId = `${term}-form`;
            const form = document.getElementById(formId);
            const formData = new FormData(form);

            // Simulate sending data to the server (you'd replace this with an actual POST request)
            fetch('/submit-attendance/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for Django
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Hide the current term
                        document.getElementById(`${term}-section`).classList.remove('active');

                        // Show the next term section
                        if (term === 'term1') {
                            document.getElementById('term2-section').classList.add('active');
                        } else if (term === 'term2') {
                            document.getElementById('term3-section').classList.add('active');
                        } else {
                            alert("All terms completed!");
                        }
                    } else {
                        alert('Error submitting attendance. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Something went wrong!');
                });
        }

        function toggleCard(classId) {
            document.querySelectorAll('.student-list').forEach(div => div.style.display = 'none');
            document.getElementById(classId + '-students').style.display = 'block';
        }

        function toggleInput(section) {
            document.querySelectorAll('div[id$="-input"]').forEach(div => div.style.display = "none");
            document.getElementById(section + "-input").style.display = "block";
        }

        // // Function to show the next term's section
        // function showNextTerm(currentButtonId, nextSectionId) {
        //     document.getElementById(currentButtonId).addEventListener("click", function () {
        //         document.getElementById(nextSectionId).classList.add("active");
        //         this.style.display = "none"; // Hide current button
        //     });
        // }

        // // Setup buttons for each term
        // showNextTerm("submit-term1", "term2-section");
        // showNextTerm("submit-term2", "term3-section");



    </script>
</body>

</html>