{% load static %}

{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anyi's College</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'anyi/css/hide.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'anyi/main/css/main.css' %}">
    <link rel="stylesheet" class="alternate-style" title="pink" href="{% static 'anyi/main/css/skins/pink.css' %}"
        type="text/css" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/regular.min.css">


    <link rel="stylesheet" class="alternate-style" title="blue" href="{% static 'anyi/main/css/skins/blue.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="orange" href="{% static 'anyi/main/css/skins/orange.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="yellow" href="{% static 'anyi/main/css/skins/yellow.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" class="alternate-style" title="green" href="{% static 'anyi/main/css/skins/green.css' %}"
        type="text/css" disabled>
    <link rel="stylesheet" href="{% static 'anyi/main/css/styleSwitcher.css' %}" type="text/css">
</head>

<body>

    <!-- Loader -->
    <div class="preloaded">
        <div class="loader"></div>
    </div>

    <!-- Main Container -->
    <div class="main-container">
        <!-- Sidebar Navigation -->
        <aside class="aside">
            <div class="logo">
                <a href="{% url 'home' %}">{{ teacher.fname }} {{ teacher.sname }}</a>
            </div>
            <div class="nav-toggle"><span></span></div>
            <ul class="nav">
                <li><a href="#profile" onclick="showSection('profile')" class="active"><i
                            class="fa fa-user"></i>Profile</a></li>
                <li><a href="#atten" onclick="showSection('atten')"><i class="fa fa-calendar"></i>Attendance</a></li>
                <li class="dropdown"><a href="#test" onclick="showSection('test')"><i class="fa fa-book"></i>Test</a>
                </li>
                <!-- <div class="dropdown-content">
                        <a href="#ca1">CA1</a>
                        <a href="#ca2">CA2</a>
                        <a href="#ca3">CA3</a>
                    </div> -->
                </li>
                <li><a href="#exam" onclick="showSection('exam')"><i class="fa fa-paper"></i>Examination</a></li>
                <li><a href="#assign" onclick="showSection('assign')"><i class="fa fa-tasks"></i>Assignment</a></li>
                <li><a href="#news" onclick="showSection('news')"><i class="fa-regular fa-newspaper"></i>News</a></li>
                <li><a href="#message" onclick="showSection('message')"><i class="fa fa-envelope"></i>Messages</a></li>
                <li><a href="#notify" onclick="showSection('notify')"><i class="fa fa-bell"></i>Notifications</a></li>
                <li><a href="#report" onclick="showSection('report')"><i class="fa fa-file-alt"></i>Reports</a></li>
                <li><a href="#result" onclick="showSection('result')"><i class="fa fa-chart-line"></i>Results</a></li>
                <li><a href="{% url 'home' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
            <div class="copyright-text" style="color: #0dcaf0;">
                &copy; @Jascube Technologies
            </div>
        </aside>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Profile Section -->
            <section class="section active profile" id="profile">
                <div class="container">
                    <div class="intro">
                        <img src="{{ image_url }}" alt="Profile Picture" class="shadow-dark" width="120px"
                            height="120px" style="border-radius: 60px;">
                        <h1>{{ teacher.fname }} {{ teacher.sname }}</h1>
                        <div class="social-links">
                            <a href="https://twitter.com/kalexdonia93" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/john.adeyemi2/" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/adeyemi-john-56b47993/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a><br>
                            <button class="edit">Update</button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Additional Sections (Example Structure) -->
            <section class="section" id="atten">
                <div class="container atten">
                    <div id="term1-section" class="term-section active">
                        <h2>{{ teacher.class_teacher }} <h2>1st Term Attendance</h2>
                            <br>
                            <form id="term1-form">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Student Name</th>
                                            {% for week in weeks %}
                                            <th>Wk {{ week }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in class_students %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ student.fname }} {{ student.lname }}</td>
                                            {% for week in weeks %}
                                            <td>
                                                <div class="checkbox-group">
                                                    {% for i in check %}
                                                    <input type="checkbox" data-student="{{ student.id }}"
                                                        data-week="{{ week }}" data-term="1">
                                                    {% endfor %}
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="button" class="termbtn" id="save-attendance">Submit 1st
                                    Term</button>
                            </form>
                    </div>

                    <!-- Second Term Section -->
                    <div id="term2-section" class="term-section">
                        <h2>2nd Term Attendance</h2>
                        <form id="term2-form">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Student Name</th>
                                        {% for week in weeks %}
                                        <th>Wk {{ week }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.fname }} {{ student.lname }}</td>
                                        {% for week in weeks %}
                                        <td>
                                            <div class="checkbox-group">
                                                {% for i in check %}
                                                <input type="checkbox" data-student="{{ student.id }}"
                                                    data-week="{{ week }}" data-term="2">
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="termbtn" id="save-attendance">Submit 2nd
                                Term</button>
                        </form>
                    </div>

                    <!-- Third Term Section -->
                    <div id="term3-section" class="term-section">
                        <h2>3rd Term Attendance</h2>
                        <form id="term3-form">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Student Name</th>
                                        {% for week in weeks %}
                                        <th>Wk {{ week }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.fname }} {{ student.lname }}</td>
                                        {% for week in weeks %}
                                        <td>
                                            <div class="checkbox-group">
                                                {% for i in check %}
                                                <input type="checkbox" data-student="{{ student.id }}"
                                                    data-week="{{ week }}" data-term="3">
                                                {% endfor %}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="termbtn" id="save-attendance">Submit 3rd
                                Term</button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="section" id="test">
                <div class="container test">
                    <h2>{{ teacher.subject_teacher }} Test Scores</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <!-- Junior Classes -->
                        <div class="card" id="jss1-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students|length }} Students</p>
                            <button onclick="showTable('jss1')">View</button>
                        </div>
                        <div class="card" id="jss2-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students|length }} Students</p>
                            <button onclick="showTable('jss2')">View</button>
                        </div>
                        <div class="card" id="jss3-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students|length }} Students</p>
                            <button onclick="showTable('jss3')">View</button>
                        </div>
                        {% else %}
                        <!-- Senior Classes -->
                        <div class="card" id="ss1-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students|length }} Students</p>
                            <button onclick="showTable('ss1')">View</button>
                        </div>
                        <div class="card" id="ss2-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students|length }} Students</p>
                            <button onclick="showTable('ss2')">View</button>
                        </div>
                        <div class="card" id="ss3-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students|length }} Students</p>
                            <button onclick="showTable('ss3')">View</button>
                        </div>
                        {% endif %}
                    </div>
                    <!-- <div class="term-navigation">
                        <button id="prevTerm" onclick="toggleTerm(-1)" style="display: none;">Previous Term</button>
                        <button id="nextTerm" onclick="toggleTerm(1)" style="display: none;">Next Term</button>
                    </div> -->

                    <div id="tables-container">
                        {% for class_data in students_by_class %}
                        <table id="table-{{ class_data.class_name|lower }}" class="ca-table" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>CA-1</th>
                                    <th>CA-2</th>
                                    <th>CA-3</th>
                                    <th>CA-4</th>
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in class_data.students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)">
                                    </td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)">
                                    </td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)">
                                    </td>
                                    <td><input type="number" class="ca-score" data-max="10"
                                            onchange="calculateTotal(this)">
                                    </td>
                                    <td><span class="total-score">0</span></td>
                                    <td>
                                        <button class="toggle-btn" onclick="toggleRowHandler(this)">Done</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>


                    <!-- Submit Button -->
                    <div id="submit-container" style="display: none;">
                        <button onclick="submitTestScores()" class="termbtn">Submit Scores</button>
                    </div>













                </div>

            </section>
            <section class="section" id="exam">
                <div class="container exam">
                    <h2>{{ teacher.subject_teacher }} Exam Scores</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <!-- Junior Classes -->
                        <div class="card" id="jss1-exam-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students.count }} Students</p>
                            <button onclick="showExamTable('jss1')">View</button>
                        </div>
                        <div class="card" id="jss2-exam-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students.count }} Students</p>
                            <button onclick="showExamTable('jss2')">View</button>
                        </div>
                        <div class="card" id="jss3-exam-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students.count }} Students</p>
                            <button onclick="showExamTable('jss3')">View</button>
                        </div>
                        {% else %}
                        <!-- Senior Classes -->
                        <div class="card" id="ss1-exam-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students.count }} Students</p>
                            <button onclick="showExamTable('ss1')">View</button>
                        </div>
                        <div class="card" id="ss2-exam-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students.count }} Students</p>
                            <button onclick="showExamTable('ss2')">View</button>
                        </div>
                        <div class="card" id="ss3-exam-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students.count }} Students</p>
                            <button onclick="showExamTable('ss3')">View</button>
                        </div>
                        {% endif %}
                    </div>

                    <div id="exam-tables-container">
                        {% for class_data in students_by_class %}
                        <table id="exam-table-{{ class_data.class_name|lower }}" class="ba-exam-table"
                            style="display: none;">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>40</th>
                                    <th>60</th>
                                    <th>100</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in class_data.students %}
                                <tr>
                                    <td>{{ student.fname }} {{ student.lname }}</td>
                                    <td><input type="number" class="ba-score" data-max="40"
                                            onchange="calculateExamTotal(this)"></td>
                                    <td><input type="number" class="ba-score" data-max="60"
                                            onchange="calculateExamTotal(this)"></td>
                                    <td><span class="total-score">0</span></td>
                                    <td><button class="toggle-btn" onclick="toggleRowHandler(this)">Done</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>

                    <!-- Submit Button -->
                    <div id="submit-btn">
                        <button onclick="submitScores()" class="termbtn">Submit Scores</button>
                    </div>

                </div>

            </section>
            <section class="section" id="assign">
                <div class="container assign">
                    <h2>{{ teacher.subject_teacher }} Assignment</h2>
                    <div class="cards">
                        {% if jss1_students or jss2_students or jss3_students %}
                        <div class="card" id="jss1-card">
                            <h3>JSS1</h3>
                            <p>{{ jss1_students.count }} Students</p>
                            <button onclick="toggleInput('jss1')">View</button>
                        </div>
                        <div class="card" id="jss2-card">
                            <h3>JSS2</h3>
                            <p>{{ jss2_students.count }} Students</p>
                            <button onclick="toggleInput('jss2')">View</button>
                        </div>
                        <div class="card" id="jss3-card">
                            <h3>JSS3</h3>
                            <p>{{ jss3_students.count }} Students</p>
                            <button onclick="toggleInput('jss3')">View</button>
                        </div>
                        {% else %}
                        <div class="card" id="ss1-card">
                            <h3>SS1</h3>
                            <p>{{ ss1_students.count }} Students </p>
                            <button onclick="toggleInput('ss1')">View</button>
                        </div>
                        <div class="card" id="ss2-card">
                            <h3>SS2</h3>
                            <p>{{ ss2_students.count }} Students</p>
                            <button onclick="toggleInput('ss2')">View</button>
                        </div>
                        <div class="card" id="ss3-card">
                            <h3>SS3</h3>
                            <p>{{ ss3_students.count }} Students</p>
                            <button onclick="toggleInput('ss3')">View</button>
                        </div>
                        {% endif %}
                    </div>

                    <!-- SS1 Students -->
                    <div id="jss1-input" class="student-list" style="display:none;">
                        <h3>JSS1 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss1_students %}
                            {% empty %}
                            <li>No students found for JSS1.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- jSS2 Students -->
                    <div id="jss2-input" class="student-list" style="display:none;">
                        <h3>JSS2 Students
                            <div class="line"></div>
                        </h3>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS2">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss2_students %}
                            {% empty %}
                            <li>No students found for JSS2.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- jSS3 Students -->
                    <div id="jss3-input" class="student-list" style="display:none;">
                        <h3>JSS3 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="JSS3">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in jss3_students %}
                            {% empty %}
                            <li>No students found for JSS3.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="ss1-input" style="display:none;">
                        <h3>SS1 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS1.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="ss2-input" style="display:none;">
                        <h3>SS2 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS2.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="ss3-input" style="display:none;">
                        <h3>SS3 Students</h3>
                        <div class="line"></div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="grades_data" placeholder="Enter test here" rows="4" cols="50"></textarea>
                            <input type="hidden" name="student_class" value="SS1">
                            <label>Import Docs</label>
                            <input type="file" name="grades_file" class="import">
                            <button type="submit" name="submit_exam" class="submit">Submit</button>
                        </form>
                        <ul>
                            {% for student in ss1_students %}
                            {% empty %}
                            <li>No students found for SS3.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section" id="news">
                <div class="container">
                    <h2>News Section</h2>
                    <p>News details go here.</p>
                </div>
            </section>
            <section class="section" id="message">
                <div class="container">
                    <h2>Messages Section</h2>
                    <p>Messages details go here.</p>
                </div>
            </section>
            <section class="section" id="notify">
                <div class="container">
                    <h2>Notification Section</h2>
                    <p>Notification details go here.</p>
                </div>
            </section>
            <section class="section" id="report">
                <div class="container">
                    <h2>Reports Section</h2>
                    <p>Reports details go here.</p>
                </div>
            </section>
            <section class="section" id="result">
                <div class="container">
                    <h2>Results Section</h2>
                    <p>Results details go here.</p>
                </div>
            </section>






            <!-- Add more sections as needed -->

            <!-- Style Switcher -->
            <div class="style-switcher">
                <div class="toggle-style-switcher"><i class="fa fa-cog fa-spin"></i></div>
                <h5>Style Switcher</h5>
                <ul>
                    <li><a href="Javascript:void(0);" title="pink" style="background-color: #ec1839"
                            onclick="setActiveStyle('pink')"></a></li>
                    <li><a href="Javascript:void(0);" title="blue" style="background-color: #0dcaf0"
                            onclick="setActiveStyle('blue')"></a></li>
                    <li><a href="Javascript:void(0);" title="orange" style="background-color: #fa5b0f"
                            onclick="setActiveStyle('orange')"></a></li>
                    <li><a href="Javascript:void(0);" title="yellow" style="background-color: #ffb400"
                            onclick="setActiveStyle('yellow')"></a></li>
                    <li><a href="Javascript:void(0);" title="green" style="background-color: #72b626"
                            onclick="setActiveStyle('green')"></a></li>
                </ul>
                <h5>Body Skin</h5>
                <label>
                    <input type="radio" class="body-skin" name="body-style" value="light" checked="true"> Light
                </label>
                <label>
                    <input type="radio" class="body-skin" name="body-style" value="dark"> Dark
                </label>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'anyi/main/js/main.js' %}"></script>
    <script src="{% static 'anyi/main/js/style.js' %}"></script>
    <script src="{% static 'anyi/main/js/styleSwitcher.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function saveAttendance() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const attendanceData = [];

            // Iterate through all checkboxes and collect their states
            checkboxes.forEach(checkbox => {
                attendanceData.push({
                    student_id: checkbox.dataset.student,
                    week: checkbox.dataset.week,
                    term: checkbox.dataset.term,
                    present: checkbox.checked
                });
            });

            try {
                // Save the attendance data to localStorage
                localStorage.setItem('attendanceData', JSON.stringify(attendanceData));
                console.log("Attendance data saved to localStorage:", attendanceData); // Debugging line
            } catch (error) {
                console.error('Error saving attendance data to localStorage:', error);
            }
        }

        function loadAttendance() {
            let attendanceData = [];
            try {
                attendanceData = JSON.parse(localStorage.getItem('attendanceData')) || [];
                console.log("Loaded attendance data from localStorage:", attendanceData); // Debugging line
            } catch (error) {
                console.error('Error loading attendance data from localStorage:', error);
            }

            // Iterate through the saved data and update the checkboxes
            attendanceData.forEach(item => {
                const checkbox = document.querySelector(`input[data-student="${item.student_id}"][data-week="${item.week}"][data-term="${item.term}"]`);
                if (checkbox) {
                    checkbox.checked = item.present;
                    console.log(`Checkbox updated: student_id=${item.student_id}, week=${item.week}, term=${item.term}, present=${item.present}`); // Debugging line
                } else {
                    console.warn(`Checkbox not found: student_id=${item.student_id}, week=${item.week}, term=${item.term}`); // Debugging line
                }
            });
        }

        function submitAttendance() {
            // Simply call saveAttendance to ensure data is saved when the button is clicked
            saveAttendance();
        }

        document.addEventListener('DOMContentLoaded', function () {
            loadAttendance();

            // Add event listener to all checkboxes
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', saveAttendance);
            });

            const saveButton = document.getElementById('save-attendance');
            if (saveButton) {
                saveButton.addEventListener('click', function () {
                    submitAttendance();
                    alert('Attendance saved successfully!');
                });
            } else {
                console.error('Save button with ID "save-attendance" not found.');
            }
        });
    </script>
</body>

</html>