
 
.container .dropdown button{
    /* padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; */
    background-color:transparent;
    color: white;
    border: none;
}
.container .dropdown button:hover{
    color: #0dcaf0;
}
.container .dropdown ul{
    /* background-color:transparent; */
    background-color: #212431;
}

.container .dropdown ul li a:hover{
    color: #0dcaf0;

}




/* <div class="container">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Profile
              <span class="#"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" href="#">change password</a></li>
                <li role="presentation"><a role="menuitem" href="{{ url_for('logout')}}">Logout</a></li>
              </ul>
            </div>
          </div> */