/*Navbar container*/
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}


/* Links ncide the navbar*/
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
li .dropdown {
  overflow: hidden;
}



/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 600;
  color: #302e4d;
  text-decoration: none;
  line-height: 45px;
  display: block;
  border-bottom: 1px solid #e8dfec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

/* Add a red background color to navbar links on hover */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* section class start from here */

.atten {
  margin-left: -2%;

}

.atten h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;


}

th,
td {
  border: 1px solid #ddd;

  /* text-align: center; */



}


.ca-score input:disabled {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}


th {
  background-color: #0dcaf0;
  color: #fff;
  width: 30px;
}

td input {
  width: 50%;
  ;
  text-align: center;
}

td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

td button {
  /* margin-top: 10px; */
  padding: 5px 20px;
  font-size: 12px;
  font-weight: bold;
  background-color: #0dcaf0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  text-align: center;
  gap: 4px;
}

.termbtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0dcaf0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.termbtn:hover {
  background-color: #26bfdd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.term-section {
  display: none;
  /* Hide other terms initially */
}

.term-section.active {
  display: block;
  /* Show active term section */
}

.assign h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 30px;
  width: 35%;
  text-align: center;
  font-size: 20px;
  color: #ffff;
  border-radius: 8px;
  background-color: #0dcaf0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.card button:hover {
  color: #0dcaf0;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* transform: scale(1.1); */
}

.assign textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
  resize: none;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.assign h3 {
  text-align: center;
  margin-bottom: 8px;
}

.assign .line {
  position: relative;
  width: 15%;
  height: 1px;
  background-color: #0dcaf0;
  box-shadow: 0 0 10px 2px rgba(16, 180, 221, 0.5);
  margin-left: 43%;
}

.assign .submit {
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  width: 20%;
}

.assign input[type="file"]::file-selector-button {
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;

}

.assign label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0dcaf0;
  font-weight: bold;
  font-size: 16px;
}


.student-list textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
  resize: none;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.student-list h3 {
  text-align: center;
  margin-bottom: 8px;
}

.student-list .line {
  position: relative;
  width: 15%;
  height: 1px;
  background-color: #0dcaf0;
  box-shadow: 0 0 10px 2px rgba(16, 180, 221, 0.5);
  margin-left: 43%;
}

.student-list button {
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  width: 20%;
}


.student-list input[type="file"]::file-selector-button {
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;

}

.student-list label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0dcaf0;
  font-weight: bold;
  font-size: 16px;
}